.font-size-xs {
  font-size: 0.75rem; }

.font-size-sm {
  font-size: 0.875rem; }

.font-size-base {
  font-size: 1rem; }

.font-size-lg {
  font-size: 1.125rem; }

.font-size-xl {
  font-size: 1.25rem; }

.font-size-2xl {
  font-size: 1.5rem; }

.font-size-3xl {
  font-size: 1.875rem; }

.font-size-4xl {
  font-size: 2.25rem; }

.font-size-5xl {
  font-size: 3rem; }

.font-size-6xl {
  font-size: 4rem; }

:root,
[data-theme="light"] {
  --brand-color: #0089FF;
  --pink-900: #5B1E34;
  --pink-800: #702440;
  --pink-700: #97264F;
  --pink-600: #D2326D;
  --pink-500: #F2508B;
  --pink-400: #F46B9E;
  --pink-300: #F584AE;
  --pink-200: #FAB9D1;
  --pink-100: #FCDCE8;
  --pink-50: #FEEDF3;
  --blue-900: #1A4469;
  --blue-800: #154875;
  --blue-700: #1366AE;
  --blue-600: #1579D0;
  --blue-500: #2490EF;
  --blue-400: #50A6F2;
  --blue-300: #7CBCF5;
  --blue-200: #A7D3F9;
  --blue-100: #D3E9FC;
  --blue-50: #F0F8FE;
  --green-900: #2D401D;
  --green-800: #44622A;
  --green-700: #518B21;
  --green-600: #68AB30;
  --green-500: #8CCF54;
  --green-400: #A5D97A;
  --green-300: #BCE39B;
  --green-200: #D2ECBD;
  --green-100: #E9F6DE;
  --green-50: #F4FAEE;
  --dark-green-900: #1F3E2B;
  --dark-green-800: #29593B;
  --dark-green-700: #286840;
  --dark-green-600: #2E844E;
  --dark-green-500: #2F9D58;
  --dark-green-400: #59B179;
  --dark-green-300: #82C49B;
  --dark-green-200: #ACD8BC;
  --dark-green-100: #DFEEE5;
  --dark-green-50: #EAF5EE;
  --gray-900: #1F272E;
  --gray-800: #333C44;
  --gray-700: #505A62;
  --gray-600: #687178;
  --gray-500: #98A1A9;
  --gray-400: #C0C6CC;
  --gray-300: #DCE0E3;
  --gray-200: #EBEEF0;
  --gray-100: #F4F5F6;
  --gray-50: #F9FAFA;
  --red-900: #631D1D;
  --red-800: #802121;
  --red-700: #9B2C2C;
  --red-600: #C53030;
  --red-500: #E24C4C;
  --red-400: #EC645E;
  --red-300: #FCA4A4;
  --red-200: #FCC8C8;
  --red-100: #FFECEC;
  --red-50: #FFF5F5;
  --yellow-900: #5F370E;
  --yellow-800: #744210;
  --yellow-700: #975A16;
  --yellow-600: #B7791F;
  --yellow-500: #D69E2E;
  --yellow-400: #ECB64B;
  --yellow-300: #F6C35E;
  --yellow-200: #FAD489;
  --yellow-100: #FEE9BF;
  --yellow-50: #FEF4E2;
  --orange-900: #653019;
  --orange-800: #7B3A1E;
  --orange-700: #9C4621;
  --orange-600: #CB5A2A;
  --orange-500: #F8814F;
  --orange-400: #F9966C;
  --orange-300: #FDAE8C;
  --orange-200: #FECDB8;
  --orange-100: #FFEAE1;
  --orange-50: #FFF5F0;
  --purple-900: #343360;
  --purple-800: #45438F;
  --purple-700: #4946BF;
  --purple-600: #6461D6;
  --purple-500: #8684FF;
  --purple-400: #9897F7;
  --purple-300: #B9B8FA;
  --purple-200: #DAD9F7;
  --purple-100: #EAEAFB;
  --purple-50: #F2F2FD;
  --padding-xs: 5px;
  --padding-sm: 10px;
  --padding-md: 15px;
  --padding-lg: 20px;
  --padding-xl: 30px;
  --padding-2xl: 40px;
  --margin-xs: 5px;
  --margin-sm: 8px;
  --margin-md: 15px;
  --margin-lg: 20px;
  --margin-xl: 30px;
  --margin-2xl: 40px;
  --font-stack: "Inter", "-apple-system", "BlinkMacSystemFont","Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --text-bold: 500;
  --shadow-xs:  rgba(0, 0, 0, 0.05) 0px 0.5px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
  --shadow-sm: 0px 1px 2px rgba(25, 39, 52, 0.05), 0px 0px 4px rgba(25, 39, 52, 0.1);
  --shadow-base:  0px 4px 8px rgba(25, 39, 52, 0.06), 0px 0px 4px rgba(25, 39, 52, 0.12);
  --shadow-md:  0px 8px 14px rgba(25, 39, 52, 0.08), 0px 2px 6px rgba(25, 39, 52, 0.04);
  --shadow-lg: 0px 18px 22px rgba(25, 39, 52, 0.1), 0px 1px 10px rgba(0, 0, 0, 0.06), 0px 0.5px 5px rgba(25, 39, 52, 0.04);
  --modal-shadow: var(--shadow-md);
  --card-shadow: var(--shadow-sm);
  --btn-shadow: var(--shadow-xs);
  --text-muted: var(--gray-600);
  --text-light: var(--gray-800);
  --text-color: var(--gray-900);
  --heading-color: var(--gray-900);
  --icon-fill: transparent;
  --icon-fill-bg: var(--fg-color);
  --icon-stroke: var(--gray-900);
  --bg-blue: var(--blue-100);
  --bg-light-blue: var(--blue-50);
  --bg-dark-blue: var(--blue-300);
  --bg-green: var(--dark-green-50);
  --bg-yellow: var(--yellow-50);
  --bg-orange: var(--orange-50);
  --bg-red: var(--red-50);
  --bg-gray: var(--gray-200);
  --bg-light-gray: var(--gray-100);
  --bg-purple: var(--purple-100);
  --text-on-blue: var(--blue-600);
  --text-on-light-blue: var(--blue-500);
  --text-on-dark-blue: var(--blue-700);
  --text-on-blue: var(--blue-600);
  --text-on-green: var(--dark-green-500);
  --text-on-yellow: var(--yellow-500);
  --text-on-orange: var(--orange-500);
  --text-on-red: var(--red-500);
  --text-on-gray: var(--gray-600);
  --text-on-light-gray: var(--gray-800);
  --text-on-purple: var(--purple-500);
  --awesomplete-hover-bg: var(--control-bg);
  --sidebar-select-color: var(--gray-200);
  --shadow-inset: inset 0px -1px 0px var(--gray-300);
  --border-color: var(--gray-100);
  --dark-border-color: var(--gray-300);
  --table-border-color: var(--gray-200);
  --highlight-color: var(--gray-50);
  --yellow-highlight-color: var(--yellow-50);
  --border-radius-sm: 4px;
  --border-radius: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-full: 999px;
  --primary-color: #2490EF;
  --btn-height: 28px; }

:root {
  --gray-50: #F9FAFA;
  --gray-100: #F4F5F6;
  --gray-200: #EEF0F2;
  --gray-300: #E2E6E9;
  --gray-400: #C8CFD5;
  --gray-500: #A6B1B9;
  --gray-600: #74808B;
  --gray-700: #4C5A67;
  --gray-800: #313B44;
  --gray-900: #192734;
  --black: #000;
  --primary: #2490ef;
  --primary-color: #2490ef;
  --primary-light: #ecf5fe;
  --light: #F9FAFA;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 4rem; }

.filter-options {
  max-height: 300px;
  overflow: auto; }

.address-card {
  cursor: pointer;
  position: relative; }
  .address-card .check {
    display: none; }
  .address-card.active {
    border-color: #2490ef; }
    .address-card.active .check {
      display: inline-flex; }

.check {
  display: inline-flex;
  padding: 0.25rem;
  background: #2490ef;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  width: 24px;
  height: 24px; }

.website-list .result {
  margin-top: 2rem; }

.result {
  border-bottom: 1px solid #E2E6E9; }

.transaction-list-item {
  padding: 1rem 0;
  border-top: 1px solid #E2E6E9;
  position: relative; }
  .transaction-list-item a.transaction-item-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    opacity: 0;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 0; }

.place-order-container {
  text-align: right; }

.kb-card .card-body > .card-title {
  line-height: 1.3; }

/*# sourceMappingURL=erpnext-web.css.map */
html, body {
  font-size: 16px; }

:root,
[data-theme="light"] {
  --brand-color: #0089FF;
  --pink-900: #5B1E34;
  --pink-800: #702440;
  --pink-700: #97264F;
  --pink-600: #D2326D;
  --pink-500: #F2508B;
  --pink-400: #F46B9E;
  --pink-300: #F584AE;
  --pink-200: #FAB9D1;
  --pink-100: #FCDCE8;
  --pink-50: #FEEDF3;
  --blue-900: #1A4469;
  --blue-800: #154875;
  --blue-700: #1366AE;
  --blue-600: #1579D0;
  --blue-500: #2490EF;
  --blue-400: #50A6F2;
  --blue-300: #7CBCF5;
  --blue-200: #A7D3F9;
  --blue-100: #D3E9FC;
  --blue-50: #F0F8FE;
  --green-900: #2D401D;
  --green-800: #44622A;
  --green-700: #518B21;
  --green-600: #68AB30;
  --green-500: #8CCF54;
  --green-400: #A5D97A;
  --green-300: #BCE39B;
  --green-200: #D2ECBD;
  --green-100: #E9F6DE;
  --green-50: #F4FAEE;
  --dark-green-900: #1F3E2B;
  --dark-green-800: #29593B;
  --dark-green-700: #286840;
  --dark-green-600: #2E844E;
  --dark-green-500: #2F9D58;
  --dark-green-400: #59B179;
  --dark-green-300: #82C49B;
  --dark-green-200: #ACD8BC;
  --dark-green-100: #DFEEE5;
  --dark-green-50: #EAF5EE;
  --gray-900: #1F272E;
  --gray-800: #333C44;
  --gray-700: #505A62;
  --gray-600: #687178;
  --gray-500: #98A1A9;
  --gray-400: #C0C6CC;
  --gray-300: #DCE0E3;
  --gray-200: #EBEEF0;
  --gray-100: #F4F5F6;
  --gray-50: #F9FAFA;
  --red-900: #631D1D;
  --red-800: #802121;
  --red-700: #9B2C2C;
  --red-600: #C53030;
  --red-500: #E24C4C;
  --red-400: #EC645E;
  --red-300: #FCA4A4;
  --red-200: #FCC8C8;
  --red-100: #FFECEC;
  --red-50: #FFF5F5;
  --yellow-900: #5F370E;
  --yellow-800: #744210;
  --yellow-700: #975A16;
  --yellow-600: #B7791F;
  --yellow-500: #D69E2E;
  --yellow-400: #ECB64B;
  --yellow-300: #F6C35E;
  --yellow-200: #FAD489;
  --yellow-100: #FEE9BF;
  --yellow-50: #FEF4E2;
  --orange-900: #653019;
  --orange-800: #7B3A1E;
  --orange-700: #9C4621;
  --orange-600: #CB5A2A;
  --orange-500: #F8814F;
  --orange-400: #F9966C;
  --orange-300: #FDAE8C;
  --orange-200: #FECDB8;
  --orange-100: #FFEAE1;
  --orange-50: #FFF5F0;
  --purple-900: #343360;
  --purple-800: #45438F;
  --purple-700: #4946BF;
  --purple-600: #6461D6;
  --purple-500: #8684FF;
  --purple-400: #9897F7;
  --purple-300: #B9B8FA;
  --purple-200: #DAD9F7;
  --purple-100: #EAEAFB;
  --purple-50: #F2F2FD;
  --padding-xs: 5px;
  --padding-sm: 10px;
  --padding-md: 15px;
  --padding-lg: 20px;
  --padding-xl: 30px;
  --padding-2xl: 40px;
  --margin-xs: 5px;
  --margin-sm: 8px;
  --margin-md: 15px;
  --margin-lg: 20px;
  --margin-xl: 30px;
  --margin-2xl: 40px;
  --font-stack: "Inter", "-apple-system", "BlinkMacSystemFont","Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --text-bold: 500;
  --shadow-xs:  rgba(0, 0, 0, 0.05) 0px 0.5px 0px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
  --shadow-sm: 0px 1px 2px rgba(25, 39, 52, 0.05), 0px 0px 4px rgba(25, 39, 52, 0.1);
  --shadow-base:  0px 4px 8px rgba(25, 39, 52, 0.06), 0px 0px 4px rgba(25, 39, 52, 0.12);
  --shadow-md:  0px 8px 14px rgba(25, 39, 52, 0.08), 0px 2px 6px rgba(25, 39, 52, 0.04);
  --shadow-lg: 0px 18px 22px rgba(25, 39, 52, 0.1), 0px 1px 10px rgba(0, 0, 0, 0.06), 0px 0.5px 5px rgba(25, 39, 52, 0.04);
  --modal-shadow: var(--shadow-md);
  --card-shadow: var(--shadow-sm);
  --btn-shadow: var(--shadow-xs);
  --text-muted: var(--gray-600);
  --text-light: var(--gray-800);
  --text-color: var(--gray-900);
  --heading-color: var(--gray-900);
  --icon-fill: transparent;
  --icon-fill-bg: var(--fg-color);
  --icon-stroke: var(--gray-900);
  --bg-blue: var(--blue-100);
  --bg-light-blue: var(--blue-50);
  --bg-dark-blue: var(--blue-300);
  --bg-green: var(--dark-green-50);
  --bg-yellow: var(--yellow-50);
  --bg-orange: var(--orange-50);
  --bg-red: var(--red-50);
  --bg-gray: var(--gray-200);
  --bg-light-gray: var(--gray-100);
  --bg-purple: var(--purple-100);
  --text-on-blue: var(--blue-600);
  --text-on-light-blue: var(--blue-500);
  --text-on-dark-blue: var(--blue-700);
  --text-on-blue: var(--blue-600);
  --text-on-green: var(--dark-green-500);
  --text-on-yellow: var(--yellow-500);
  --text-on-orange: var(--orange-500);
  --text-on-red: var(--red-500);
  --text-on-gray: var(--gray-600);
  --text-on-light-gray: var(--gray-800);
  --text-on-purple: var(--purple-500);
  --awesomplete-hover-bg: var(--control-bg);
  --sidebar-select-color: var(--gray-200);
  --shadow-inset: inset 0px -1px 0px var(--gray-300);
  --border-color: var(--gray-100);
  --dark-border-color: var(--gray-300);
  --table-border-color: var(--gray-200);
  --highlight-color: var(--gray-50);
  --yellow-highlight-color: var(--yellow-50);
  --border-radius-sm: 4px;
  --border-radius: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;
  --border-radius-full: 999px;
  --primary-color: #2490EF;
  --btn-height: 28px; }

:root,
[data-theme="light"] {
  --text-xs: 11px;
  --text-sm: 12px;
  --text-md: 13px;
  --text-base: 14px;
  --text-lg: 16px;
  --text-xl: 18px;
  --text-2xl: 20px;
  --text-3xl: 22px;
  --text-bold: 500;
  --navbar-height: 60px;
  --bg-color: var(--gray-50);
  --fg-color: white;
  --navbar-bg: white;
  --fg-hover-color: var(--gray-100);
  --card-bg: var(--fg-color);
  --disabled-text-color: var(--gray-700);
  --disabled-control-bg: var(--gray-50);
  --control-bg: var(--gray-100);
  --control-bg-on-gray: var(--gray-200);
  --awesomebar-focus-bg: var(--fg-color);
  --modal-bg: white;
  --toast-bg: var(--modal-bg);
  --popover-bg: white;
  --checkbox-right-margin: var(--margin-xs);
  --base-checkbox-size: 14px;
  --custom-checkbox-size: 14px;
  --appreciation-color: var(--dark-green-600);
  --appreciation-bg: var(--dark-green-100);
  --criticism-color: var(--red-600);
  --criticism-bg: var(--red-100);
  --error-bg: var(--red-50);
  --error-border: var(--red-400);
  --page-head-height: 75px;
  --page-bottom-margin: 60px;
  --input-height: calc(1.5em + 0.75rem + 2px);
  --input-disabled-bg: var(--gray-200);
  --timeline-item-icon-size: 34px;
  --timeline-item-left-margin: var(--margin-xl);
  --timeline-item-bottom-margin: var(--margin-sm);
  --timeline-content-max-width: 700px;
  --timeline-left-padding: calc(var(--padding-xl) + var(--timeline-item-icon-size) / 2);
  --skeleton-bg: var(--gray-100);
  --right-arrow-svg: url("data: image/svg+xml;utf8, <svg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.25 7.5L4.75 4L1.25 0.5' stroke='%231F272E' stroke-linecap='round' stroke-linejoin='round'/></svg>"); }

[data-theme="dark"] {
  --gray-50: #F9FAFA;
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #c9d0d6;
  --gray-400: #7a838c;
  --gray-500: #575e66;
  --gray-600: #434a52;
  --gray-700: #242a30;
  --gray-800: #1c2126;
  --gray-900: #161a1f;
  --text-muted: var(--gray-400);
  --text-light: var(--gray-300);
  --text-color: var(--gray-50);
  --heading-color: var(--gray-50);
  --icon-fill: transparent;
  --icon-stroke: var(--gray-300);
  --error-bg: var(--red-70);
  --error-border: var(--red-400);
  --bg-color: var(--gray-900);
  --fg-color: var(--gray-800);
  --navbar-bg: var(--gray-800);
  --fg-hover-color: var(--gray-700);
  --card-bg: var(--gray-800);
  --disabled-text-color: var(--gray-400);
  --disabled-control-bg: var(--gray-700);
  --control-bg: var(--gray-700);
  --control-bg-on-gray: var(--gray-800);
  --awesomebar-focus-bg: var(--control-bg);
  --awesomplete-hover-bg: var(--gray-700);
  --modal-bg: var(--gray-700);
  --toast-bg: var(--modal-bg);
  --popover-bg: var(--bg-color);
  --bg-blue: var(--blue-600);
  --bg-light-blue: var(--blue-400);
  --bg-dark-blue: var(--blue-900);
  --bg-green: var(--dark-green-500);
  --bg-yellow: var(--yellow-500);
  --bg-orange: var(--orange-500);
  --bg-red: var(--red-500);
  --bg-gray: var(--gray-600);
  --bg-light-gray: var(--gray-700);
  --bg-purple: var(--purple-600);
  --text-on-blue: var(--blue-50);
  --text-on-light-blue: var(--blue-100);
  --text-on-dark-blue: var(--blue-300);
  --text-on-green: var(--dark-green-50);
  --text-on-yellow: var(--yellow-50);
  --text-on-orange: var(--orange-100);
  --text-on-red: var(--red-50);
  --text-on-gray: var(--gray-300);
  --text-on-light-gray: var(--gray-100);
  --text-on-purple: var(--purple-100);
  --sidebar-select-color: var(--gray-800);
  --shadow-inset: var(--fg-color);
  --border-color: var(--gray-700);
  --dark-border-color: var(--gray-600);
  --table-border-color: var(--gray-600);
  --highlight-color: var(--gray-700);
  --yellow-highlight-color: var(--yellow-700);
  --input-disabled-bg: none;
  --skeleton-bg: var(--gray-800);
  --right-arrow-svg: url("data: image/svg+xml;utf8, <svg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.25 7.5L4.75 4L1.25 0.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/></svg>"); }
  [data-theme="dark"] .frappe-card .btn-default {
    background-color: var(--bg-color); }
    [data-theme="dark"] .frappe-card .btn-default:hover {
      background-color: var(--fg-hover-color); }
  [data-theme="dark"] .modal,
  [data-theme="dark"] .form-in-grid {
    --control-bg: var(--gray-800);
    --border-color: var(--gray-600); }
  [data-theme="dark"] .print-format {
    --text-color: var(--gray-900);
    --border-color: var(--gray-100); }
  [data-theme="dark"] .ql-editor {
    color: var(--text-on-gray); }
    [data-theme="dark"] .ql-editor.read-mode span,
    [data-theme="dark"] .ql-editor.read-mode p,
    [data-theme="dark"] .ql-editor.read-mode u,
    [data-theme="dark"] .ql-editor.read-mode strong {
      background-color: inherit !important;
      color: inherit !important; }
  [data-theme="dark"] .chart-container {
    --charts-label-color: var(--gray-300);
    --charts-axis-line-color: var(--gray-500);
    --charts-stroke-width: 5px;
    --charts-dataset-circle-stroke: #ffffff;
    --charts-dataset-circle-stroke-width: var(--charts-stroke-width);
    --charts-tooltip-title: var(--charts-label-color);
    --charts-tooltip-label: var(--charts-label-color);
    --charts-tooltip-value: white;
    --charts-tooltip-bg: var(--gray-900);
    --charts-legend-label: var(--charts-label-color); }
  [data-theme="dark"] .heatmap-chart g > rect[fill="#ebedf0"] {
    fill: var(--gray-700); }
  [data-theme="dark"] .rating {
    --star-fill: var(--gray-500); }
    [data-theme="dark"] .rating .star-hover {
      --star-fill: var(--gray-400); }

body.product-page {
  background: var(--gray-50); }

.item-breadcrumbs .breadcrumb-container ol.breadcrumb {
  background-color: var(--gray-50) !important; }

.item-breadcrumbs .breadcrumb-container a {
  color: var(--gray-900); }

.carousel-control {
  height: 42px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 1px 2px 1px rgba(0, 0, 0, 0.06);
  border-radius: 100px; }

.carousel-control-prev,
.carousel-control-next {
  opacity: 1; }

.carousel-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.carousel-content {
  max-width: 400px; }

.card {
  border: none; }

.product-category-section .card:hover {
  box-shadow: 0px 16px 45px 6px rgba(0, 0, 0, 0.08), 0px 8px 10px -10px rgba(0, 0, 0, 0.04); }

.product-category-section .card-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); }

.item-card-group-section .card {
  height: 360px;
  align-items: center;
  justify-content: center; }
  .item-card-group-section .card:hover {
    box-shadow: 0px 16px 60px rgba(0, 0, 0, 0.08), 0px 8px 30px -20px rgba(0, 0, 0, 0.04);
    transition: box-shadow 400ms; }

.item-card-group-section .card-img-container {
  height: 210px;
  width: 100%; }

.item-card-group-section .card-img {
  max-height: 210px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 1.25rem; }

.item-card-group-section .no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0 auto;
  margin-top: var(--margin-xl);
  background: var(--gray-100);
  width: 80%;
  border-radius: var(--border-radius);
  font-size: 2rem;
  color: var(--gray-500); }

.item-card-group-section .product-title {
  font-size: 14px;
  color: var(--gray-800);
  font-weight: 500; }

.item-card-group-section .product-description {
  font-size: 12px;
  color: var(--text-color);
  margin: 20px 0;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; }
  .item-card-group-section .product-description p {
    margin-bottom: 0.5rem; }

.item-card-group-section .product-category {
  font-size: 13px;
  color: var(--text-muted);
  margin: var(--margin-sm) 0; }

.item-card-group-section .product-price {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  margin: var(--margin-sm) 0; }

.item-card-group-section .item-card {
  padding: var(--padding-sm); }

[data-doctype="Item Group"] .page-header,
#page-all-products .page-header {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-color); }

[data-doctype="Item Group"] .filters-section .title-section,
#page-all-products .filters-section .title-section {
  border-bottom: 1px solid var(--table-border-color); }

[data-doctype="Item Group"] .filters-section .filter-title,
#page-all-products .filters-section .filter-title {
  font-weight: 500; }

[data-doctype="Item Group"] .filters-section .clear-filters,
#page-all-products .filters-section .clear-filters {
  font-size: 13px; }

[data-doctype="Item Group"] .filters-section .filter-label,
#page-all-products .filters-section .filter-label {
  font-size: 11px;
  font-weight: 600;
  color: var(--gray-700);
  text-transform: uppercase; }

[data-doctype="Item Group"] .filters-section .filter-block,
#page-all-products .filters-section .filter-block {
  border-bottom: 1px solid var(--table-border-color); }

[data-doctype="Item Group"] .filters-section .checkbox .label-area,
#page-all-products .filters-section .checkbox .label-area {
  font-size: 13px;
  color: var(--gray-800); }

.product-container {
  border-radius: var(--border-radius-md);
  box-shadow: var(--card-shadow);
  padding: var(--padding-md);
  background-color: var(--card-bg);
  min-height: 70vh; }
  .product-container .product-details {
    max-width: 40%;
    margin-left: -30px; }
    .product-container .product-details .btn-add-to-cart {
      font-size: var(--text-base); }
  .product-container .product-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color); }
  .product-container .product-code {
    color: var(--text-muted);
    font-size: 13px; }
  .product-container .product-description {
    font-size: 13px;
    color: var(--gray-800); }
  .product-container .product-image {
    border-color: var(--table-border-color) !important;
    padding: 15px; }
    @media (max-width: 991.98px) {
      .product-container .product-image {
        height: 300px;
        width: 300px; } }
    @media (min-width: 992px) {
      .product-container .product-image {
        height: 350px;
        width: 350px; } }
    .product-container .product-image img {
      -o-object-fit: contain;
         object-fit: contain; }
  .product-container .item-slideshow {
    overflow: scroll; }
    @media (max-width: 991.98px) {
      .product-container .item-slideshow {
        max-height: 320px; } }
    @media (min-width: 992px) {
      .product-container .item-slideshow {
        max-height: 430px; } }
  .product-container .item-slideshow-image {
    height: 4rem;
    width: 6rem;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 0.5rem;
    border: 1px solid var(--table-border-color);
    border-radius: 4px;
    cursor: pointer; }
    .product-container .item-slideshow-image:hover, .product-container .item-slideshow-image.active {
      border-color: #2490EF; }
  .product-container .item-cart .product-price {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600; }
    .product-container .item-cart .product-price .formatted-price {
      color: var(--text-muted);
      font-size: var(--text-base); }
  .product-container .item-cart .no-stock {
    font-size: var(--text-base); }

.item-configurator-dialog .modal-header {
  padding: var(--padding-md) var(--padding-xl); }

.item-configurator-dialog .modal-body {
  padding: 0 var(--padding-xl);
  padding-bottom: var(--padding-xl); }
  .item-configurator-dialog .modal-body .status-area .alert {
    padding: var(--padding-xs) var(--padding-sm);
    font-size: var(--text-sm); }
  .item-configurator-dialog .modal-body .form-layout {
    max-height: 50vh;
    overflow-y: auto; }
  .item-configurator-dialog .modal-body .section-body .form-column .form-group .control-label {
    font-size: var(--text-md);
    color: var(--gray-700); }
  .item-configurator-dialog .modal-body .section-body .form-column .form-group .help-box {
    margin-top: 2px;
    font-size: var(--text-sm); }

.item-group-slideshow .carousel-inner.rounded-carousel {
  border-radius: 0.75rem; }

.cart-icon .cart-badge {
  position: relative;
  top: -10px;
  left: -12px;
  background: var(--red-600);
  width: 16px;
  align-items: center;
  height: 16px;
  font-size: 10px;
  border-radius: 50%; }

#page-cart .shopping-cart-header {
  font-weight: bold; }

#page-cart .cart-container {
  color: var(--text-color); }
  #page-cart .cart-container .frappe-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  #page-cart .cart-container .cart-items-header {
    font-weight: 600; }
  #page-cart .cart-container .cart-table th, #page-cart .cart-container .cart-table tr, #page-cart .cart-container .cart-table td {
    border-color: var(--border-color);
    border-width: 1px; }
  #page-cart .cart-container .cart-table th {
    font-weight: normal;
    font-size: 13px;
    color: var(--text-muted);
    padding: var(--padding-sm) 0; }
  #page-cart .cart-container .cart-table td {
    padding: var(--padding-sm) 0;
    color: var(--text-color); }
  #page-cart .cart-container .cart-table .cart-items .item-title {
    font-size: var(--text-base);
    font-weight: 500;
    color: var(--text-color); }
  #page-cart .cart-container .cart-table .cart-items .item-subtitle {
    color: var(--text-muted);
    font-size: var(--text-md); }
  #page-cart .cart-container .cart-table .cart-items .item-subtotal {
    font-size: var(--text-base);
    font-weight: 500; }
  #page-cart .cart-container .cart-table .cart-items .item-rate {
    font-size: var(--text-md);
    color: var(--text-muted); }
  #page-cart .cart-container .cart-table .cart-items textarea {
    width: 40%; }
  #page-cart .cart-container .cart-table .cart-tax-items .item-grand-total {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color); }
  #page-cart .cart-container .cart-addresses hr {
    border-color: var(--border-color); }
  #page-cart .cart-container .number-spinner {
    width: 75%; }
    #page-cart .cart-container .number-spinner .cart-btn {
      border: none;
      background: var(--gray-100);
      box-shadow: none;
      height: 28px;
      align-items: center;
      display: flex; }
    #page-cart .cart-container .number-spinner .cart-qty {
      height: 28px;
      font-size: var(--text-md); }
  #page-cart .cart-container .place-order-container .btn-place-order {
    width: 62%; }

.cart-empty.frappe-card {
  min-height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .cart-empty.frappe-card .cart-empty-message {
    font-size: 18px;
    color: var(--text-color);
    font-weight: bold; }

.address-card .card-title {
  font-size: var(--text-base);
  font-weight: 500; }

.address-card .card-body {
  max-width: 80%; }

.address-card .card-text {
  font-size: var(--text-md);
  color: var(--gray-700); }

.address-card .card-link {
  font-size: var(--text-md); }
  .address-card .card-link svg use {
    stroke: var(--blue-500); }

.address-card .btn-change-address {
  color: var(--blue-500);
  box-shadow: none;
  border: 1px solid var(--blue-500); }

.modal .address-card .card-body {
  padding: var(--padding-sm);
  border-radius: var(--border-radius);
  border: 1px solid var(--dark-border-color); }

/*# sourceMappingURL=erpnext-web.css.map */
/*# sourceMappingURL=erpnext-web.css.map */